<%- include('partials/header') %>


<h1>VolMed API Server - DASHBOARD</h1>

<p>Server is running successfully in "<%= NODE_ENV %>" mode</p>
<p>Авторизован: <%- sessionAuth %></p>
<p>Аккаунт: <%- sessionUser %></p>
<p>ФИО: <%= lastName %> <%= firstName %> <%= patr %></p>
<p>Должность: <%= status %></p>

<div>
  <details>
    <summary>Session data:</summary>
    <pre><code><%- sessionData %></code></pre>
  </details>
</div>

<div>
  <details>
    <summary>Пользователи:</summary>
    <% users.forEach(user => { %>
    <% if (user.username === sessionUser) { %>
    <p style="font-weight: bold;">
      ID <%- user.id %>:
      <%= user.lastName %>
      <%= user.firstName %>
      <%= user.patr %> - <%= user.status %>
    </p>
    <% } else {%>
    <p>
      ID <%- user.id %>:
      <%= user.lastName %>
      <%= user.firstName %>
      <%= user.patr %> - <%= user.status %>
    </p>
    <% }}) %>
  </details>
</div>

<div>
  <details>
    <summary>Пациенты:</summary>
    <% patients.forEach(patient => { %>
    <p>ID <%- patient.id %>: <%= patient.lastName %> <%= patient.firstName %> <%= patient.patr %></p>
    <% }) %>
  </details>
</div>

<br>
<div style="display: flex; gap: 10px; align-items: baseline;">
  <button onClick="window.location.href='/api'">
    Домашняя страница
  </button>
  <form action="/api/logout" method="POST">
    <button type="submit">
      Выйти
    </button>
  </form>

  <button onClick="window.location.href='<%- FRONTEND_URL %>'">
    Главный сайт
  </button>
</div>


<%- include('partials/footer') %>