  <%- include('partials/header')%>


  <h1>VolMed API Server</h1>
  <p>Server is running successfully in "<%= NODE_ENV %>" mode</p>

  <p>
    Главный сайт:
    <a href="<%= FRONTEND_URL %>"> <%= FRONTEND_URL %> </a>
  </p>

  <% if (sessionAuth && cookiesUser) {%>
  <p>Выполнен вход: <%= sessionAuth %></p>
  <p>Аккаунт: <%= cookiesUser %></p>
  <% } else { %>
  <p>Выполнен вход: Нет</p>
  <% } %>

  <% if (!sessionAuth) { %>
  <button onClick="window.location.href='/api/login'">Dashboard</button>
  <% } else { %>
  <button onClick="window.location.href='/api/dashboard'">Dashboard</button>
  <% } %>


  <%- include('partials/footer')%>